 a l t a i r = = 6 . 2 . 1 
 
 a n y i o = = 4 . 1 3 . 0 
 
 a t t r s = = 2 6 . 1 . 0 
 
 b e a u t i f u l s o u p 4 = = 4 . 1 5 . 0 
 
 b l i n k e r = = 1 . 9 . 0 
 
 c a c h e t o o l s = = 7 . 1 . 4 
 
 c e r t i f i = = 2 0 2 6 . 5 . 2 0 
 
 c f f i = = 2 . 0 . 0 
 
 c h a r s e t - n o r m a l i z e r = = 3 . 4 . 7 
 
 c l i c k = = 8 . 4 . 1 
 
 c o l o r a m a = = 0 . 4 . 6 
 
 c o n t o u r p y = = 1 . 3 . 3 
 
 c u r l _ c f f i = = 0 . 1 5 . 0 
 
 c y c l e r = = 0 . 1 2 . 1 
 
 D e p r e c a t e d = = 1 . 3 . 1 
 
 f i n a n c e - d a t a r e a d e r = = 0 . 9 . 2 0 2 
 
 f o n t t o o l s = = 4 . 6 3 . 0 
 
 g i t d b = = 4 . 0 . 1 2 
 
 G i t P y t h o n = = 3 . 1 . 5 0 
 
 h 1 1 = = 0 . 1 6 . 0 
 
 h t t p t o o l s = = 0 . 8 . 0 
 
 i d n a = = 3 . 1 8 
 
 i t s d a n g e r o u s = = 2 . 2 . 0 
 
 J i n j a 2 = = 3 . 1 . 6 
 
 j s o n s c h e m a = = 4 . 2 6 . 0 
 
 j s o n s c h e m a - s p e c i f i c a t i o n s = = 2 0 2 5 . 9 . 1 
 
 k i w i s o l v e r = = 1 . 5 . 0 
 
 l x m l = = 6 . 1 . 1 
 
 m a r k d o w n - i t - p y = = 4 . 2 . 0 
 
 M a r k u p S a f e = = 3 . 0 . 3 
 
 m a t p l o t l i b = = 3 . 1 0 . 9 
 
 m d u r l = = 0 . 1 . 2 
 
 m u l t i p l e d i s p a t c h = = 1 . 0 . 0 
 
 m u l t i t a s k i n g = = 0 . 0 . 1 3 
 
 n a r w h a l s = = 2 . 2 2 . 1 
 
 n u m p y = = 2 . 4 . 6 
 
 p a c k a g i n g = = 2 6 . 2 
 
 p a n d a s = = 2 . 3 . 3 
 
 p e e w e e = = 4 . 0 . 6 
 
 p i l l o w = = 1 2 . 2 . 0 
 
 p l a t f o r m d i r s = = 4 . 1 0 . 0 
 
 p l o t l y = = 6 . 8 . 0 
 
 p r o t o b u f = = 7 . 3 5 . 0 
 
 p y a r r o w = = 2 4 . 0 . 0 
 
 p y c p a r s e r = = 3 . 0 
 
 p y d e c k = = 0 . 9 . 2 
 
 P y g m e n t s = = 2 . 2 0 . 0 
 
 P y J W T = = 2 . 1 3 . 0 
 
 p y k r x = = 1 . 2 . 8 
 
 p y p a r s i n g = = 3 . 3 . 2 
 
 p y t h o n - d a t e u t i l = = 2 . 9 . 0 . p o s t 0 
 
 p y t h o n - m u l t i p a r t = = 0 . 0 . 3 2 
 
 p y t z = = 2 0 2 6 . 2 
 
 p y u p b i t = = 0 . 2 . 3 4 
 
 r e f e r e n c i n g = = 0 . 3 7 . 0 
 
 r e q u e s t s = = 2 . 3 4 . 2 
 
 r e q u e s t s - f i l e = = 3 . 0 . 1 
 
 r i c h = = 1 5 . 0 . 0 
 
 r p d s - p y = = 2 0 2 6 . 5 . 1 
 
 s i x = = 1 . 1 7 . 0 
 
 s m m a p = = 5 . 0 . 3 
 
 s o u p s i e v e = = 2 . 8 . 4 
 
 s t a r l e t t e = = 1 . 2 . 1 
 
 s t r e a m l i t = = 1 . 5 8 . 0 
 
 t a = = 0 . 1 1 . 0 
 
 t a b u l a t e = = 0 . 1 0 . 0 
 
 t e n a c i t y = = 9 . 1 . 4 
 
 t o m l = = 0 . 1 0 . 2 
 
 t q d m = = 4 . 6 8 . 2 
 
 t y p i n g _ e x t e n s i o n s = = 4 . 1 5 . 0 
 
 t z d a t a = = 2 0 2 6 . 2 
 
 u r l l i b 3 = = 2 . 7 . 0 
 
 u v i c o r n = = 0 . 4 9 . 0 
 
 w a t c h d o g = = 6 . 0 . 0 
 
 w e b s o c k e t s = = 1 6 . 0 
 
 w r a p t = = 2 . 2 . 1 
 
 y f i n a n c e = = 1 . 4 . 1 
