altair
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
curl_cffi
cycler
Deprecated
finance-datareader
fonttools
gitdb
GitPython
h11
httptools
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
multipledispatch
multitasking
narwhals
numpy
packaging
pandas
pandas-datareader
peewee
pillow
platformdirs
plotly
protobuf
pyarrow
pycparser
pydeck
Pygments
PyJWT
pykrx
pyparsing
python-dateutil
python-multipart
pytz
pyupbit
referencing
requests
requests-file
rich
rpds-py
scipy
six
smmap
soupsieve
starlette
streamlit
ta
tabulate
tenacity
toml
tqdm
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
wrapt
yfinance
